.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }
.button { border: none;
    color: violet;
    background-color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 14px 80px;
    margin-left: 35px;
}
.buy { border: none;
    color: violet;
    background-color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;} 
.background {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover} 
