.topnav {
    background-color: #0c3823;
     overflow: hidden;
     }
              
.topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }
              
.topnav a:hover {
        background-color: #ddd;
        color: black;
        }
              
.topnav a.active {
            background-color: yellow;
            color: white;
            }
#footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;
        margin-left: 500px;}
.background {
            background-image: url(Images/background.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover}